@import "tailwindcss";

/* Tell Tailwind we use class-based dark mode */
@theme {
  --dark-mode: class;
}

* {
  transition: 
    background-color 300ms ease,
    color 300ms ease,
    box-shadow 300ms ease,
    border-color 300ms ease,
    transform 200ms ease;
}
